$bg-image : linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('content.jpg');
$bg-size : 100% 100%;
$bg-attach : fixed;
$bg-img-width:100%;
$bg-img-height:600px;
$header-p-top:200px;
$header-h2-font-size:42px;
$header-h1-font-size:72px;
$header-h1-font-wt:bold;
$blog-padding:50px 0px 60px;
$blog-height:300px;
$shadow-color:#fe9559;
$h2-font-family:'Josefin Sans', sans-serif;
$h4-font-family: 'Courgette', cursive;
$h4-color:#15f4ee;
$h2-color:yellow;